body {
    background-color: green;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input{
    width: 250px;
}
.input {
    display: flex;
    padding: 10px;
}

.input * {
    margin: 5px;
    border-radius: 3px;
    font-size: 20px;
    padding: 3px;
}
button{
    background: rgb(94, 190, 29);
}